@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;600;700;800;900&family=Poppins:wght@300;400;500;600;700;800&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Sacramento&display=swap');

:root {
    --dark-gray-black: #141010;
    --dark-gray: #222831;
    --medium-gray: #393e46;
    --dark-water-green: rgb(41, 161, 156);
    --light-water-green: #a3f7bf;
    --white: rgb(243, 244, 246);
    --gray: #adb9c7;

}


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Monserrat", sans-serif;
  text-decoration: none;
  list-style-type: none;
  scroll-behavior: smooth;
  scroll-padding-top: 85px;
}
  

body{
    background-color: var(--dark-gray);
    color: var(--white);
    
}

body::-webkit-scrollbar {
  display: none;
}

/*Header - Nav*/

header {
    background: linear-gradient(180deg, rgb(20, 16, 16) 45%, rgb(34, 40, 49) 100%);
    width: 100%;
    position: fixed;
    top: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 85px;
    padding: 0px 30px 0px 30px;
    margin: 0 auto;
    z-index: 999;
}

.logo {
    height: 100%;
    padding: 5px;
}
  
.navbar,
.navbar-list {
    display: flex;
    align-items: center;
    justify-content: center;
}
  
.navbar {
    gap: 50px;
}

.navbar-list {
    gap: 30px;
}
  
.navbar-list a {
    color: var(--white);
    font-size: 14px;
}
  
.navbar-list li:first-child > a {
    font-weight: 600;
}

.navbar-list li {
    position: relative;
    padding: 0;
    padding-bottom: 5px;
}
  
.navbar-list li a::after {
    content: "";
    height: 3px;
    width: 100%;
    background: var(--light-water-green);
    position: absolute;
    bottom: 0;
    left: 0;
    transform: scaleX(0);
    transform-origin: bottom right;
    transition: transform 0.15s ease;
}
  
.navbar-list li a:hover::after {
    transform-origin: bottom left;
    transform: scaleX(1);
}

.cart-label{
  display: flex;
  position: relative;
}

.counter{
  position: absolute;
  top: -10px;
  left: 35px;
  background-color: crimson;
  border: 1px solid var(--white);
  font-size: 10px;
  font-weight: 800;
  border-radius: 5px;
  width: 20px;
  height: 20px;
  text-align: center;
  vertical-align: middle;
  padding: 2px;
}
  
.cart-icon {
    border: 1px solid var(--white);
    padding: 14px;
    font-weight: 600;
    border-radius: 10px;
    font-size: 14px;
    cursor: pointer;
}

.cart-icon {
    transition: all 0.2s ease-out;
}
  
.cart-icon:hover {
    color: var(--light-water-green);
    border-color: var(--light-water-green);
    transition: all 0.2s ease-in;
}
  
  /* MENU HAMBURGUESA Desktop */
  
.menu-label {
    display: none;
}
  
  /*carrito*/
.cart {
    position: absolute;
    top: 85px;
    right: 0;
    padding: 20px 30px;
    background-color: var(--dark-gray);
    display: flex;
    flex-direction: column;
    gap: 20px;
    height: calc(100vh - 85px);
    overflow-y: scroll;
    z-index: 2;
    min-width: 375px;
    transform: translate(200%);
    transition: all 0.5s cubic-bezier(0.92, 0.01, 0.35, 0.99);
    border-left: 2px solid var(--medium-gray);
}
  
.cart-container {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.open-cart {
  transform: translate(0%);
  transition: all 0.5s cubic-bezier(0.92, 0.01, 0.35, 0.99);
}

.divider {
  margin-top: 20px;
  border: 0.5px solid var(--light-water-green);
  width: 100%;
}


  /*OCULTAR BARRA DE SCROLL DEL CARRITO*/
  
.cart::-webkit-scrollbar {
    display: none;
}

/*RESULTADO DE CARRITO*/
.cart-item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 20px;
  background-color: var(--medium-gray);
  padding: 20px;
}

.cart-item img {
  height: 70px;
  border-radius: 50%;
  outline: 2px solid var(--light-water-green);
}

.item-info {
  display: flex;
  flex-direction: column;
  min-width: 110px;
  gap: 10px;
}

.item-title {
  color: var(--text-white);
  font-weight: 600;
  font-size: 14px;
  text-transform: uppercase;
}

.item-price {
  font-size: 16px;
  font-weight: 400;
  color: var(--light-water-green);
}

.item-handler {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
}

.quantity-handler {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 5px 10px;
  color: var(--text-white);
  font-weight: 400;
  border-radius: 1px;
  cursor: pointer;
}

.item-quantity {
  color: var(--text-gray);
}

.up {
  border: 1px solid var(--light-water-green);
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
}

.down {
  background-color: var(--dark-gray);
  border: 1px solid var(--light-water-green);
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
}

.cart-total,
.cart-subtotal, 
.shipping {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  width: 100%;
}

.cart-total{
  background-color: var(--light-water-green);
  padding: 5px 10px;
  color: var(--dark-gray);
}

.cart-total p {
  font-weight: 700;
  text-transform: uppercase;
}

.cart-total span {
  font-weight: 700;
  font-size: 22px;
}

.cart-subtotal, 
.shipping {
  font-size: 14px;
  text-transform: uppercase;
  font-weight: 200;
  padding: 0px 10px;
}

  /*main*/
main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
  }

  /*Hero*/

  
#hero {
    margin-top: 65px;
    padding: 70px 0;
    max-width: 1200px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.hero-info {
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 50%;
}

.hero-info h1 {
    font-size: 48px;
    max-width: 500px;
    font-weight: 700;
    background: var(--white);
    background-clip: text;
    color: transparent;
    -webkit-background-clip: text;
    animation: fade 1s ease-in;
}

.hero-info h1 span {
    position: relative;
    background: var(--white);
    background-clip: text;
    color: transparent;
    -webkit-background-clip: text;
}

.hero-info h1 span::before,
.hero-info h1 span::after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.hero-info h1 span::before {
    background-color: var(--dark-gray);
    animation: typewriter 1.2s 1.4s steps(4) forwards;
}

  .hero-info h1 span::after {
    width: 0.1rem;
    background: var(--white);
    animation: typewriter 1.2s 1.4s steps(4) forwards,
      blink 0.8s steps(4) infinite;
}

.hero-info p {
    font-size: 18px;
    opacity: 0;
    animation: fade 0.8s ease-in forwards, slide-up 0.9s ease-in-out;
    animation-delay: 0.3s;

}

.hero-info a {
    color: var(--white);
    background-color: var(--dark-water-green);
    width: 200px;
    padding: 10px 0px;
    border-radius: 10px;
    font-size: 14px;
    text-align: center;
    opacity: 0;

    animation: fade 0.8s ease-in forwards, slide-up 0.9s ease-in-out;
    animation-delay: 0.4s;
  }

  .hero-info a:hover {
    background-color: var(--light-water-green);
    color: var(--dark-gray-black);
    font-weight: 700;
    transition: all 0.2s ease-in;
  }


/*Polaroid*/
.hero-photo{
    width: 40%;
    transform:rotate(5deg);  
}

.polaroid {
    background: #fff;
    padding: 16px;
    box-shadow: 0 0.2rem 1.2rem rgba(0,0,0,0.7);
    
}

.polaroid > img{
    max-width: 100%;
    height: auto;
}

.caption-polaroid {
    font-size: 36px;
    color: var(--medium-gray);
    font-weight: 400;
    font-family: 'sacramento', cursive;
    text-align: center;

}

.tilt-in-tr {
	animation: tilt-in-tr 0.65s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}

/*SKEW WALL*/

.section-content {
  width: 100%;
  position: relative;
  z-index: -3;
}

.section-mask {
  position: absolute;
  top: -50px;
  bottom: -50px;
  right: 0;
  left: 0;
  z-index: -1;
  background-color: var(--white);
  transform: skewY(-5deg);
}

/* Info */
#info {
  padding: 40px 0;
  display: flex;
  justify-content: center;
  align-items: center;

}

.info-container-cards{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 40px;
  max-width: 1200px;
}

.info-card{
  display: flex;
  flex-direction: column;
  
  gap: 15px;
  color: var(--dark-gray-black);
  width: 220px;
  height: 300px;
  padding: 20px;
  box-shadow: -1px 12px 10px -9px rgb(72 72 72 / 50%);
  border: 1px solid #d9dad7;
  border-radius: 10px;
}

.info-icon{
  display: flex;
  justify-content: center;
  margin-top: 25px;
  
}

.info-card i{
  font-size: 32px;
  font-weight: 800;
  color: #29a19c;
  text-align: center;
  border: 3px solid var(--dark-water-green);
  border-radius: 10px;
  width: 60px;
  padding: 10px 0;
}

.info-text{
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.info-title{
  font-size: 24px;
  text-align: center;
  font-weight: 700;
  padding-bottom: 10px;
  border-bottom: 1px solid var(--dark-gray);
}


#products {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 60px;
  padding: 40px 0;
  max-width: 1200px;
  width: 100%;  
}

#products h2 {
  font-size: 32px;
  font-weight: 800;
  margin-bottom: 40px;
}

/* categories */
.categories {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  gap: 20px;
  max-width: 1200px;
}

/*BACKGROUND BUTTON CATEGORY*/
.bg-all{
  background-image: url(../img/category/all.png);
}

.bg-shampoo{
  background-image: url(../img/category/cat-shampoo.png);
}

.bg-quick-detail{
  background-image: url(../img/category/cat-quick-detail.png);
}

.bg-wax{
  background-image: url(../img/category/cat-cera.png);
}

.bg-sealer{
  background-image: url(../img/category/cat-selladores.png);
}

.bg-cleaner{
  background-image: url(../img/category/cat-limpiadores.png);
}

.bg-outside{
  background-image: url(../img/category/cat-exterior.png);
}

.bg-inside{
  background-image: url(../img/category/cat-interior.png);
}

.category-button-card{
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  width: 120px;
  height: 80px;
  background-size: cover;
  background-repeat: no-repeat;
  z-index: 0;
  border-radius: 5px;
  transition: 0.8seg ease-in-out;
  
}

.overlay-cards{
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 1;
  background: rgba(0, 0, 0, 0.4);
  /* box-shadow: 0 8px 32px 0 rgb(41, 161, 156, 0.37); */
  border-radius: 5px;
}

.category {
  width: 100%;
  background: rgb(41, 161, 156, 0.7);
  border: none;
  padding: 5px 15px;
  color: var(--white);
  cursor: pointer;
  font-weight: 600;
  font-size: 12px;
  z-index: 2;
  text-transform: uppercase;
  border-radius: 0 0 5px 5px;

}

.category-button-card:hover{
  scale: 110%;
  transition: 1seg ease-in-out;
}

.active {
  /* background: var(--dark-water-green); */
  box-shadow: 0 0 .2rem #fff,
            0 0 .2rem #fff,
            0 0 2rem var(--light-water-green),
            inset 0 0 0.9rem var(--light-water-green); 
  
}

/* products */
.products-container {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  gap: 20px;
  padding: 40px 0;
  max-width: 1200px;
}


.product {
  width: 250px;
  background: rgb(0, 0, 0);
  border: 2px solid var(--dark-water-green);
  color: var(--white);
  padding: 20px 10px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 20px;
  -webkit-animation: fade-in 0.3s cubic-bezier(0.39, 0.575, 0.565, 1) both;
  animation: fade-in 0.5s cubic-bezier(0.39, 0.575, 0.565, 1) both;
  box-shadow: 0 6px 32px 0 rgb(41, 161, 156, 0.37);
}

.product-img{
  display: flex;
  justify-content: center;
}

.img-card{
  width: 95%;
  border-radius: 10px;
}

.product img:hover {
  transform: scale(1.02);
  transition: all 0.5s ease-in-out;
  box-shadow: 0 6px 25px 0 rgb(41, 161, 156, 0.5);
}

.product-info {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 10px;
  padding: 0 5px;
}

.product-title,
.product-description,
.product-footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.product-title{
  flex-direction: column;
  gap: 10px;
}

.product-title h3 {
  font-size: 16px;
  font-weight: 900;
  text-transform: uppercase;
  width: 100%;
  text-align: center;
  color: var(--dark-gray);
  background-color: var(--light-water-green);
  padding: 5px 0;
  
}
.product-title p {
  font-size: 14px;
  font-weight: 400;
  color: var(--gray); 
}


.product-description p{
  font-size: 14px;
  font-weight: 100;
  border-top: 0.5px solid #d9dad7;
  padding: 10px 0;
  margin: 0 10px;
  text-align: center;
  height: 130px;
}

.product-price{
  font-weight: 900;
  font-size: 25px;
  margin-right: 10px;
}



/*Botones*/

.btn-buy,
.btn-delete {
  cursor: pointer;
  padding: 15px 25px;
  color: var(--white);
  border: none;
  transition: 0.3s all ease-out;
  text-transform: uppercase;
}

.btn-buy {
  background: var(--dark-water-green);
}

.btn-buy,
.btn-delete {
  width: 100%;
}

.btn-delete {
  border: 2px solid var(--dark-water-green);
  background-color: transparent;
}

.btn-delete:hover {
  background: var(--dark-water-green);
  transition: 0.3s all ease-in;
}

.disabled {
  background-color: var(--gray);
  color: white;
  cursor: not-allowed;
  border: none;
}
.disabled:hover {
  background-color: var(--gray);
  color: white;
  cursor: not-allowed;
  border: none;
}


.btn-cart{
    position: relative;
    display: inline-flex;
    width: 100px;
    height: 55px;
    perspective: 1000px;
    border: none;
}

.btn-cart .btn-add{
  font-size: 16px;
  letter-spacing: 1px;
  transform-style: preserve-3d;
  transform: translateZ(-25px);
  transition: transform .25s;
}

.btn-cart .btn-add:before,
.btn-cart .btn-add:after{
  position: absolute;
  content: "Agregar";
  height: 55px;
  width: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 5px solid var(--dark-water-green);
  box-sizing: border-box;
  border-radius: 5px;
}

.btn-cart .btn-add:before{
  color: var(--white);
  font-weight: 700;
  background: var(--dark-water-green);
  transform: rotateY(0deg) translateZ(25px);
}
.btn-cart .btn-add:after{
  color: var(--dark-water-green);
  font-weight: 700;
  transform: rotateX(90deg) translateZ(25px);
}
.btn-cart .btn-add:hover{
  transform: translateZ(-25px) rotateX(-90deg);
}

.btn-load {
  background: none;
  border: 1px solid var(--dark-water-green);
  padding: 10px 35px;
  color: var(--white);
  border-radius: 10px;
  cursor: pointer;
  transition: all 0.2s ease-out;
  font-weight: 600;
}

.btn-load:hover {
  background-color: var(--dark-water-green);
  transition: all 0.2s ease-in;
}

footer{
  text-align: center;
  background-color: var(--dark-water-green);
  color: var(--white);
  padding: 20px 0;
}

footer span{
  font-weight: 900;
  text-transform:uppercase;
  color: var(--dark-gray-black);
}

.overlay {
  position: absolute;
  top: 85px;
  left: 0;
  height: 100vh;
  width: 100%;
  z-index: 1;
  background: rgba(255, 255, 255, 0.05);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  display: none;
}

.on-overlay {
  display: block;
}

.hidden {
  display: none;
}

.btn-disabled {
  background-color: var(--gray);
  color: var(--medium-gray);
  cursor: not-allowed;
  border: none;
}
.btn-disabled:hover {
  background-color: var(--gray);
  color: var(--medium-gray);
  cursor: not-allowed;
  border: none;
}

.modal {
  padding: 15px 0px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--text-white);
  background-color: green;
  position: fixed;
  bottom: 0;
  width: 100%;
  transition: all 0.5s ease-out;
  transform: translateY(200%);
}

.active-modal {
  transform: translateY(0);
  transition: all 0.5s ease-in;
}